:root {
    --font-white: #fff;
    --gray: #3a3a3a;
    --gold-bright: #ddbc00;
    --gold-pale: #e2cc4c;
    --dark-blue: #010025;

    --space: 2rem;
    --margin: 0 0 1rem 0;

    --outline: 1px solid var(--gray);
}

body {
    background-color: var(--dark-blue);
    font-family: 'Times New Roman', Times, serif;
    color: var(--font-white);
    --pd-inline: 3rem;
}

.header {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--space);
    padding-inline: var(--pd-inline);
}

.logo_link {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--font-white);

    span {
        font-size: 1rem;
        font-family: inherit;
    }
}

.navbar {
    display: flex;
    gap: 2rem;
    transition: scale;
    transition: transform 400ms ease-in-out;
}

.nav_link {
    color: var(--font-white);
    transition: color 400ms ease;
}

.nav_item {
    scale: 1;
    position: relative;
}

.nav_item::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    height: 4px;
    background-color: var(--gold-bright);
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 400ms ease;
    border-radius: 8px 030px;
}

.nav_item:hover::after,
.nav_item.active::after {
    transform: scaleX(1);
}

.nav_link.active,
.nav_link:hover {
    color: var(--gold-bright);
}

.menu_icon {
    display: flex;
    width: 60px;
    height: 60px;
    z-index: 999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
    border-radius: 50%;
    outline: var(--outline);
    outline-color: var(--gold-bright);
    visibility: hidden;
    opacity: 0;
    display: none;
}

.line {
    width: 2rem;
    height: 2px;
    background-color: var(--gold-bright);
    border-radius: 8px;
    transition: rotate 300ms ease-in-out, translate 250ms ease-in-out;
}

.menu_icon.clicked .line:first-of-type {
    translate: 0 10px 0;
    rotate: 30deg;
}

.menu_icon.clicked .line:nth-of-type(2) {
    opacity: 0;
    visibility: hidden;
}

.menu_icon.clicked .line:last-of-type {
    translate: 0 -10px 0;
    rotate: -30deg
}


/* Hero Section */

.hero_section {
    margin-top: 12rem;
    margin-bottom: 4rem;
    padding-inline: var(--pd-inline);
}

.offer_label {
    background-color: var(--gold-pale);
    color: var(--dark-blue);
    width: fit-content;
    padding-inline: 1.5rem;
    padding-block: .8125rem;
    margin-block: var(--space);
    cursor: default;

}

#hero_heading {
    font-size: 3rem;
    margin: var(--margin);
}

.hero_section h3 {
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: var(--margin);
    letter-spacing: -0.01em;
}

.hero_section p {
    margin: var(--margin);
    margin-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.cta {
    padding-inline: 2.5rem;
    padding-block: .8125rem;
    border: none;
    background-color: var(--gold-bright);
    color: var(--dark-blue);
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 300px;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border 300ms ease-in-out, color
    250ms ease-in-out, background-color 280ms ease-in-out;
}

.cta:hover {
    background-color: transparent;
    border: 2px solid var(--gold-bright);
    color: var(--gold-bright);
}

.services {
    display: flex;
    align-items: center;
    margin: var(--margin);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: var(--space);
    margin-top: 2rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    padding-inline: var(--pd-inline);
}

.service {
    border: 2px solid;
    border-color: var(--gold-bright);
    padding-inline: 2.5rem;
    font-weight: 500;
    letter-spacing: .5px;
    padding-block: .8125rem;
    margin: var(--margin);
    background-color: #ddbc0017;
    cursor: default;
    border-radius: 8px;
}

hr {
    width: 100%;
    margin:auto;
    height: 4px;
    background-color: var(--gold-bright);
    border-color: transparent;
    position: absolute;
    left: 0;
}

.footer {
    margin-top: 5rem;
    padding-inline: var(--pd-inline);
}

.footer h3 {
    font-size: 1.75rem;
    margin: 0 0 .5rem 0;
}

.footer_paragraph {
    font-size: 1rem;
    color: gray;
    margin: var(--margin);
}

.contact_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone_number {
    font-size: 2rem;
}

.left_section p:nth-of-type(2) {
    font-size: .9rem;
}

.right_section {
    text-align: right;
}

.company_name {
    font-size: 1.125rem;
}
#ava {
    color: gray;
    margin: var(--margin);
}

.socials {
    margin-bottom: .2rem;
}
.socials a {
    color: var(--gold-bright);
}


/* Form Page Stylings */
.booking_section {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}




/* UTILITY CLASSES */
.yellow__text {
    color: var(--gold-bright);
}



/* MEDIA QUERIES */
@media (max-width: 840px) {
    #page__content {
        padding-inline: 1rem;
        overflow-x: hidden;
    }

    .menu_icon {
        display: flex;
        visibility: visible;
        opacity: 1;
    }

    .navbar {
        opacity: 0;
        position: absolute;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 400ms ease-in-out;
    }
    
    .navbar.md-820 {
        transform: scaleX(1);
        opacity: 1;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: var(--gray);
        background-color: #0d0b4e;
        top: 1px;
        right: 0;
        height: 100vh;
        width: 100%;
        display: grid;
        place-content: center;
        z-index: 60;
        scale: 1;
    }
    
    .nav_link {
        padding-left: var(--space);
        font-size: 5rem;
        letter-spacing: .5px;
        font-weight: 600;
        font-family: system-ui;
    }

    .services {
        gap: 1rem;
    }

    .service {
        width: fit-content;
    }

    .contact_info {
        flex-wrap: wrap;
        gap: 2rem;
        text-align: left;
    }

    .company_name {
        font-size: 1.5rem
    }

    .right_section {
        text-align: left;
    }
}